@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to kihoon's Marktet</h1>
    <p>
        <a asp-controller="Customer" asp-action="List" asp-route-nameFrom="A" asp-route-nameTo="E">Kihoon's shop customer list</a>
    </p>
</div>
